<h1 class="workout-header">Add Your Next Workout!</h1>

<% if flash.has_key?(:message) %>
    <div class="error"><%= flash[:message] %></div>
<% end %>

<div class="add-edit-container">
    <form action="/workouts" method="POST">
        <label class="col-1" for="workout_title"><h4>Workout Title: </h4></label>
        <input class="col-2" type="text" name="workout[title]" id="workout_title" placeholder="Abs Burnout - Day 2">

        <br><br>

        <label class="col-1" for="workout_type"><h4>Type of Workout:</h4></label>
        <div class="col-2" class="workout-type">
            <input type="radio" id="cardio" name="workout[workout_type]" value="Cardio">
            <label for="cardio">Cardio</label>
            <input type="radio" id="strength" name="workout[workout_type]" value="Strength">
            <label for="strength">Strength</label>
            <input type="radio" id="hiit" name="workout[workout_type]" value="HIIT">
            <label for="hiit">HIIT</label>
        </div>
        <br><br>
        <input type="submit" value="Add Workout">
    </form>
</div>