* {
  font-family: 'MuseoModerno', cursive;
}

body {
  margin: 0;
  background-color: #8080f0;
}

/* --- Layout CSS --- */

div.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

div.navigation ul li {
  float: right;
}

div.navigation ul li.left {
  float: left;
}

div.navigation ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.navigation ul li a:hover:not(.active) {
  background-color: #80f080;
}

div.navigation ul li a.title {
  color: #80f080;
}

div.navigation ul li a.title:hover:not(.active) {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  div.navigation ul li.title,
  div.navigation ul li {float: none;}
}


.wrapper {
  background-color: #8080f0;
}

/* --- Welcome Page CSS --- */
.welcome-title {
  text-align: center;
  font-size: 44px;
}

.welcome-content h3 {
  text-align: center;
  font-size: 26px;
}

.welcome-content p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: 5px solid #80f080;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-name {
  font-family: 'Goldman', cursive;
}

.line {
  text-decoration: underline;
  font-family: 'Goldman', cursive;
  }


/* --- Sign Up Page --- */

.signup-header {
  text-align: center;
}

.signup-subtext {
  text-align: center;
}

.signup-container {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

.signup-container form {
  background-color: #80f080;
  border-radius: 10px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 35%;
}

.col-75 {
  float: left;
  width: 50%;
}

/* --- Log In Page --- */
.login-header {
  text-align: center;
}

.login-container {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

.login-container form {
  background-color: #80f080;
  border-radius: 10px;
  padding: 20px;
}

/* --- Workout --- */

.workout-header {
  text-align: center;
}

.workout-subtext {
  text-align: center;
}

.workout-section {
  border: 1px solid #80f080;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

div.workout-section p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

div.workout-section p:first-child {
  font-size: 32px;
}

div.workout-section p a {
  color: #80f080;
}

div.workout-section p.right {
  display: block;
  text-align: right;
  font-size: 16px;
}

button.edit, button.delete {
  background-color: #80f080;
  border: none;
  border-radius: 5px;
  margin: 4px 2px;
  text-align: center;
  padding: 5px 10px;
}

button a {
  text-decoration: none;
  color: #000;
}

button:hover {
  background-color: #59a859;
}

button.new-workout {
  display: block;
  background-color: #80f080;
  color: #000;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;;
}

button.new-workout a {
  text-decoration: none;
  font-size: 16px;
}

/* --- Exercise Page --- */

.exercise-header {
  text-align: center;
  font-size: 40px;
  margin: 0px;
}

.exercise-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exercise-section {
  border: 1px solid #80f080;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

div.exercise-section p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

div.exercise-section p:first-child {
  font-size: 32px;
}

button.new-exercise {
  display: block;
  background-color: #80f080;
  color: #000;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;;
}

button.new-exercise a {
  text-decoration: none;
  font-size: 16px;
}


/* --- Add/Edit Workout --- */
.add-edit-container {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

.add-edit-container form {
  background-color: #80f080;
  border-radius: 10px;
  padding: 20px;
}

.col-1 {
  display:block;
  float: left;
  width: 25%;
}

.col-2 {
  display: block;
  width: 70%;
  margin: 22px;
}