body {
  margin: 0;
  background-color: #8080f0;
}

div.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

div.navigation ul li {
  float: left;
}

div.navigation ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.navigation ul li a:hover:not(.active) {
  background-color: #80f080;
}

div.navigation ul li a.active {
  background-color: rgb(152, 192, 197);
}

div.navigation ul li.title {
  float: right;
  padding: 14px 16px;
  color: #80f080;
}

@media screen and (max-width: 600px) {
  div.navigation ul li.title,
  div.navigation ul li {float: none;}
}


.wrapper {
  background-color: #8080f0;
}