<h1>Login to FITracker</h1>

<p><%= @error %></p>
<form action="/login" method="POST">
    <input type="text" name="username">
    <input type="text" name="password">

    <input type="submit" value="Login">
</form>