<h1>Insert the form to create a new User</h1>

<form action="/signup" method="POST">
    <input type="text" name="username">
    <input type="text" name="password">

    <input type="submit" value="Sign Up">
</form>