<div class="container">
  <div>
    <h2>Welcome To FITracker!</h2>

    <div>
      <h3>The best fitness tracking website</h3>
      <br>
    </div>

    <div>
      <p>Keep Track of All Your Exercises</p>
      <p>Share Your Exercises and Inspire Others</p>
    </div>

  </div>
</div>
