<div class="container">
  <div>
    <h2 class="welcome-title">Welcome To <span class="app-name">FI<span class="line">Tracker</span></span>!</h2>

    <div class="welcome-content">
      <h3>The best fitness tracking website</h3>
      <br>

      <p>Keep Track of All Your Exercises</p>
      <p>Share Your Exercises and Inspire Others</p>
    </div>

  </div>
</div>
