<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome To FITracker!</h2>

    <div class="content">
      <h3>The best fitness tracking website</h3>
      <br>
    </div>

    <div class="content">
      <p>Keep Track of All Your Exercises</p>
      <p>Share Your Exercises and Inspire Others</p>
    </div>

  </div>
</div>
